@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    font-family: 'Poppins', sans-serif;

}
body{
    background-image: url('../images/wallpaperflare.com_wallpaper (4).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    width: 420px;
    /* background-color: #ce6c566a !important; */
    background-color: transparent !important;
    border-radius: 20px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
    backdrop-filter: blur(10px);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: #f8dbd4;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
    transition: 0.4s;
}

.input-box input::placeholder{
    color: #fed6b4;
}

.input-box input:focus{
    outline: none;
    transform: scale(1.08);
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
}

.wrapper .remember-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input{
    margin-right: 3px;
}
.remember-forget label{
    color: #fde8d6c1;
}
.remember-forget a{
    color: #fff9f3;
    text-decoration: none;
}
.remember-forget a:hover{
    text-decoration: underline;
    color: #fff;
}
.wrapper .btnn{
    width: 100%;
    height: 45px;
    background-color: #2e2f57cb;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    color: #fff9f3;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    text-decoration: underline;
    color: #fff;
}


.home-pg{
    background-image: url('../images/wallpaperflare.com_wallpaper (1).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-wrapper{
    backdrop-filter: blur(25px);
    background-color: #00000079 !important;
}
#ss{
    color: rgb(231, 191, 255);
    font-weight: 600;
}








.circle-box span {
    display: block;
    width: 20px;
    height: 20px;
}
.circle-box span:nth-child(1) {
    background-color: #F2AA6B;
}
.circle-box span:nth-child(2) {
    background-color: #F28066;
}
.circle-box span:nth-child(3) {
    background-color: #F26D6D;
}



.box-content p {
    font-family: "Bree Serif", serif;
    font-size: 25px;
    line-height: 1.3;
    color: #352e28;
}

.rules li {
    font-size: 18px;
    padding-top: 10px;
}
.rules i {
    color: #bb4120;
}









.mm{
    font-size: 14px;
    color: #630202;
    margin-top: 3px;
    padding-left: 5px;
}
.requiredInputs h6{
    color: #630202;
    font-size: 20px;
}



.isvalid{
    border-color: #198754 !important;
}
.isinvalid{
    border-color: #871919 !important;
}

.boxx{
    background-color: #fff;
}

/* @keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
}

.boxx {
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
} */